<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513070035696-9a5i17qq07lmoc31ara2ksecs7k6nf6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513070035696-9a5i17qq07lmoc31ara2ksecs7k6nf6i</string>
	<key>API_KEY</key>
	<string>AIzaSyDwJOGmXBHtD-9B8R7isHdNv86lOAkgyMk</string>
	<key>GCM_SENDER_ID</key>
	<string>513070035696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shawnApp.fieldBy</string>
	<key>PROJECT_ID</key>
	<string>fieldby-web</string>
	<key>STORAGE_BUCKET</key>
	<string>fieldby-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513070035696:ios:c9d33db8fc91f462830835</string>
	<key>DATABASE_URL</key>
	<string>https://fieldby-web-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>